@model MegaKids.IServices.Models.ModelGallery
@{
    ViewBag.Title = Model.Seo.Title;
    ViewBag.Keywords = Model.Seo.Keywords;
    ViewBag.Description = Model.Seo.Description;
}
<link href="~/Content/awk-showcase.css" rel="stylesheet" />
<!-- BEGIN PAGE LEVEL STYLES -->
<link href="~/Content/assets/global/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet" type="text/css" />
<link href="~/Content/assets/admin/pages/css/portfolio.css" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL STYLES -->
<!-- BEGIN THEME STYLES -->
<link href="~/Content/assets/global/css/plugins-md.css" rel="stylesheet" type="text/css" />
<!-- END THEME STYLES -->
<link href="~/Content/assets/global/plugins/ed-lea-jquery-collagePlus/css/transitions.css" rel="stylesheet" />
<link href="~/Content/assets/global/plugins/ed-lea-jquery-collagePlus/support/examples.css" rel="stylesheet" />
<style type="text/css">
    a#btn-gallery {
        background-color: #57abe4;
    }
</style>
<div class="container-gallery">
    <div class="container">
        <div class="gallery-albums">
            <div class="albums-title">
                <h2>@Resource.Photoalbums</h2>
                <img id="album-loading" style="display:none;margin: 0 0 20px 15px;" src="~/Content/Images/gif/loading.gif" width="35" />
            </div>
            <div class="albums-content">
                <div class="Collage mix-grid">
                    <!-- ko foreach: AlbumList -->
                    @*<div class="Image_Wrapper">
        <img data-bind="attr:{src: '/Content/Images/gallery/albums/'+Id()+'/'+PhotoName()}" >
    </div>*@
    <div class="mix">
        <div class="mix-inner">
            <img data-bind="attr:{src: '/Content/Images/gallery/albums/'+Id()+'/'+PhotoName()},visible:$parent.IsShowAlbum" style="width:auto;" alt="">
            <a data-bind="attr:{href:'/gallery/albums/'+Id()}">
                <div class="mix-details" title="Перейти к фотографиям">
                    <h2 data-bind="text:Name"></h2>
                    <h3 data-bind="text:moment(CreateDate()).format('ll')"></h3>
                </div>
            </a>
        </div>
    </div>
                    <!-- /ko -->
                </div>
            </div>
            <div class="clear"></div>
            <div class="paging-items">
                <ul class="pager">
                    <li class="previous">
                        <a data-bind="click:PrevPage" class="btn blue page-prev">
                            <i class="fa fa-angle-left"></i> @Resource.Back
                        </a>
                    </li>
                    <li class="next">
                        <a data-bind="click:NextPage" class="btn blue page-next">
                            @Resource.Next <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container-gallery">
    <div class="container">
        
        <div class="gallery-videos">
            <div class="videos-title">
                <h2>@Resource.Video</h2>
                <img id="video-loading" style="display:none;margin: 0 0 20px 15px;" src="~/Content/Images/gif/loading.gif" width="35" />
            </div>
            <div id="showcase" class="showcase">
                
                <!-- ko foreach: VideoList -->
                    <div class="showcase-slide">
                        <div class="showcase-content" data-bind="html:Video">
                        </div>
                    </div>
                <!-- /ko -->
            </div>
        </div>

        
    </div>
</div>
@section scripts{
        <!-- BEGIN PAGE LEVEL PLUGINS -->
<script type="text/javascript" src="~/Content/assets/global/plugins/jquery-mixitup/jquery.mixitup.min.js"></script>
<script type="text/javascript" src="~/Content/assets/global/plugins/fancybox/source/jquery.fancybox.pack.js"></script>
<!-- END PAGE LEVEL PLUGINS -->
<script src="~/Content/assets/admin/pages/scripts/portfolio.js"></script>
<script src="~/Scripts/moment-with-locales.js"></script>
<script src="~/Scripts/knockout-3.4.2.js"></script>

<script src="~/Content/assets/global/plugins/ed-lea-jquery-collagePlus/jquery.collagePlus.js"></script>
<script src="~/Content/assets/global/plugins/ed-lea-jquery-collagePlus/extras/jquery.removeWhitespace.js"></script>
<script src="~/Content/assets/global/plugins/ed-lea-jquery-collagePlus/extras/jquery.collageCaption.js"></script>
<script>
    $(document).ready(function () {
        moment.locale('@Lang.Id');
        Portfolio.init();
        
    });
        
</script>    
      
<script src="~/Scripts/jquery.aw-showcase.js"></script>

    <script>
        var Filter = function (data) {
            var proto = {

                CurrentPage: 1,
                PageSize: 6,
                CountPage: 1,
                CountItems: 0
            }
            $.extend(proto, data);
            var self = this;

            this.CurrentPage = ko.observable(proto.CurrentPage);
            this.PageSize = ko.observable(proto.PageSize);
            this.CountPage = ko.observable(proto.CountPage);
            this.CountItems = ko.observable(proto.CountItems);

        }

        var Album = function (data) {
            var proto = {
                Id :0,
                CreateDate: new Date(),
                Name: '',
                Descrition: '',
                PhotoName: ''
            }
            $.extend(proto, data);
            var self = this;

            this.Id = ko.observable(proto.Id);
            this.CreateDate = ko.observable(proto.CreateDate);
            this.Name = ko.observable(proto.Name);
            this.Descrition = ko.observable(proto.Descrition);
            this.PhotoName = ko.observable(proto.PhotoName);

        }
        var VideoModel = function (data) {
            var proto = {
                Id: 0,
                CreateDate: new Date(),
                Title: '',
                Video: ''
            }
            $.extend(proto, data);
            var self = this;

            this.Id = ko.observable(proto.Id);
            this.CreateDate = ko.observable(proto.CreateDate);
            this.Title = ko.observable(proto.Title);
            this.Video = ko.observable(proto.Video);

        }

        var model = {

            AlbumList: ko.observableArray([]),
            VideoList: ko.observableArray([]),
            FilterTable: ko.observable(new Filter()),
            IsShowAlbum: ko.observable(false),
            LoadAlbumList: function () {
                $("#album-loading").show();
                var params = ko.toJSON(model.FilterTable());
                //$('.albums-content').hide();
                model.IsShowAlbum(false);
                $.ajax({
                    method: "POST",
                    datatype: "json",
                    processData: false,
                    contentType: "application/json; charset=utf-8",
                    data: params,
                    accept: 'application/json',
                    url: '@Url.Action("GetAlbumList", "gallery")',
                    success: function (data) {
                        model.AlbumList.removeAll();
                        for (var i in data.List) {
                            var item = new Album(data.List[i]);
                            model.AlbumList.push(item);
                        }
                        var time = 200;
                        setTimeout(function () {
                            $('.Collage').removeWhitespace().collagePlus(
                            {
                                'fadeSpeed': 2000,
                                'targetHeight': 300,
                                'effect': 'effect-6',
                                'allowPartialLastRow': true
                            });
                            model.IsShowAlbum(true);
                        } ,time);
                        
                        model.FilterTable().CountItems(data.CountItems);
                        model.FilterTable().CountPage(data.CountPage);
                        setTimeout(function () { $('.category_1').css("opacity", 1); }, 500);
                        $("#album-loading").hide();
                    }
                });
            },
            NextPage: function () {
                if (model.FilterTable().CurrentPage() < model.FilterTable().CountPage()) {
                    model.FilterTable().CurrentPage(model.FilterTable().CurrentPage() + 1);
                    model.LoadAlbumList();
                }
            },
            PrevPage: function () {
                if (model.FilterTable().CurrentPage() > 1) {
                    model.FilterTable().CurrentPage(model.FilterTable().CurrentPage() - 1);
                    model.LoadAlbumList();
                }
            },
            LoadVideoList: function () {
                $("#video-loading").show();
                var params = ko.toJSON(model.FilterTable());
                $.ajax({
                    method: "POST",
                    processData: false,
                    contentType: false,
                    url: '@Url.Action("GetVideoList", "gallery")',
                    success: function (data) {
                        model.VideoList.removeAll();
                        for (var i in data) {
                            var item = new VideoModel(data[i]);
                            model.VideoList.push(item);
                        }
                        (function () { $('#showcase').awShowcase(); }());
                        console.log('video', model.VideoList());
                        $("#video-loading").hide();
                    }
                });
            }

        };
        $(function () {
            ko.applyBindings(model);
            model.LoadAlbumList();
            model.LoadVideoList();
        });
    </script>
}
