@model MegaKids.IServices.Models.ModelGallery
@{
    ViewBag.Title = Model.Seo.Title;
    ViewBag.Keywords = Model.Seo.Keywords;
    ViewBag.Description = Model.Seo.Description;
}
<link href="~/Content/awk-showcase.css" rel="stylesheet" />
<!-- BEGIN PAGE LEVEL STYLES -->
<link href="~/Content/assets/global/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet" type="text/css" />
<link href="~/Content/assets/admin/pages/css/portfolio.css" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL STYLES -->
<!-- BEGIN THEME STYLES -->
<link href="~/Content/assets/global/css/plugins-md.css" rel="stylesheet" type="text/css" />
<!-- END THEME STYLES -->
<style type="text/css">
    .header-menu a#btn-gallery {
        background-color: #57abe4;
    }
</style>

<div class="container-gallery">
    <div class="container-zero">
        <div class="gallery-albums">
            <div class="albums-title">
                <h2>@Resource.Photoalbums</h2>
                <img id="album-loading" style="display:none;margin: 0 0 20px 15px;" src="~/Content/Images/gif/loading.gif" width="35" />
            </div>
            <div class="albums-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="tabbable-line boxless">
                            <ul class="nav nav-tabs">
                                <li>
                                    <a href="#tab_1" data-toggle="tab">
                                        4 @Resource.Columns
                                    </a>
                                </li>
                                <li class="active">
                                    <a href="#tab_2" data-toggle="tab">
                                        3 @Resource.Columns
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane" id="tab_1">
                                    <!-- BEGIN FILTER -->
                                    <div class="margin-top-10">
                                       
                                        <div class="row mix-grid">
                                            <!-- ko foreach: List -->
                                            <div class="col-md-3 col-sm-4 mix category_1">
                                                <div class="mix-inner">
                                                    <img class="img-responsive" data-bind="attr:{src: '/Content/Images/gallery/albums/'+Id()+'/'+PhotoName()}" alt="">
                                                    <a data-bind="attr:{href:'/gallery/albums/'+Id()}">
                                                        <div class="mix-details" title="Перейти к фотографиям">
                                                            <h2 data-bind="text:Name"></h2>
                                                            <h3 data-bind="text:moment(CreateDate()).format('ll')"></h3>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- /ko -->
                                        </div>
                                    </div>
                                    <!-- END FILTER -->
                                </div>
                                <div class="tab-pane active" id="tab_2">
                                    <!-- BEGIN FILTER -->
                                    <div class="filter-v1 margin-top-10">
                                        <div class="row mix-grid thumbnails">
                                            <!-- ko foreach: List -->
                                            <div class="col-md-4 col-sm-6 mix category_1">
                                                <div class="mix-inner">
                                                    <img class="img-responsive" data-bind="attr:{src: '/Content/Images/gallery/albums/'+Id()+'/'+PhotoName()}" alt="">
                                                    <a data-bind="attr:{href:'/gallery/albums/'+Id()}">
                                                        <div class="mix-details" title="Перейти к фотографиям">
                                                            <h2 data-bind="text:Name"></h2>
                                                            <h3 data-bind="text:moment(CreateDate()).format('ll')"></h3>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- /ko -->
                                        </div>
                                    </div>
                                    <!-- END FILTER -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="paging-items">
                <ul class="pager">
                    <li class="previous">
                        <a data-bind="click:PrevPage" class="btn blue page-prev">
                            <i class="fa fa-angle-left"></i> @Resource.Back
                        </a>
                    </li>
                    <li class="next">
                        <a data-bind="click:NextPage" class="btn blue page-next">
                            @Resource.Next <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
            
        </div>
        <div class="gallery-videos">
            <div class="videos-title">
                <h2>@Resource.Video</h2>
            </div>
            <div id="showcase" class="showcase">
                @*<div class="showcase-slide">
                    <div class="showcase-content">
                        <div class="showcase-content-wrapper">
                            <h1>Mega Kids Video</h1>
                            <h2>Mega Kids Video</h2>
                            <p><em>Mega Kids Video</em></p>
                        </div>
                    </div>
                </div>*@
                @foreach (var video in Model.Videos)
                {
                    <div class="showcase-slide">
                        <div class="showcase-content">
                            @Html.Raw(video.Video)
                        </div>
                    </div>
                }
            </div>
        </div>

        
    </div>
</div>
@section scripts{
        <!-- BEGIN PAGE LEVEL PLUGINS -->
<script type="text/javascript" src="~/Content/assets/global/plugins/jquery-mixitup/jquery.mixitup.min.js"></script>
<script type="text/javascript" src="~/Content/assets/global/plugins/fancybox/source/jquery.fancybox.pack.js"></script>
<!-- END PAGE LEVEL PLUGINS -->
<script src="~/Content/assets/admin/pages/scripts/portfolio.js"></script>
<script src="~/Scripts/moment-with-locales.js"></script>
<script src="~/Scripts/knockout-3.4.2.js"></script>
<script>
jQuery(document).ready(function() {
    
    moment.locale('ru');
    Portfolio.init();
    
});
</script>   
<script src="~/Scripts/jquery.aw-showcase.js"></script>
<script type="text/javascript">

$(document).ready(function()
{
	$("#showcase").awShowcase(
	{
		content_width:			820,
		content_height:			461,
		fit_to_parent:			false,
		auto:					false,
		interval:				3000,
		continuous:				false,
		loading:				true,
		tooltip_width:			200,
		tooltip_icon_width:		32,
		tooltip_icon_height:	32,
		tooltip_offsetx:		18,
		tooltip_offsety:		0,
		arrows:					true,
		buttons:				false,
		btn_numbers:			true,
		keybord_keys:			true,
		mousetrace:				false, /* Trace x and y coordinates for the mouse */
		pauseonover:			true,
		stoponclick:			false,
		transition:				'fade', /* hslide/vslide/fade */
		transition_delay:		0,
		transition_speed:		500,
		show_caption:			'onload', /* onload/onhover/show */
		thumbnails:				false,
		thumbnails_position:	'outside-last', /* outside-last/outside-first/inside-last/inside-first */
		thumbnails_direction:	'vertical', /* vertical/horizontal */
		thumbnails_slidex:		1, /* 0 = auto / 1 = slide one thumbnail / 2 = slide two thumbnails / etc. */
		dynamic_height:			false, /* For dynamic height to work in webkit you need to set the width and height of images in the source. Usually works to only set the dimension of the first slide in the showcase. */
		speed_change:			true, /* Set to true to prevent users from swithing more then one slide at once. */
		viewline:				false, /* If set to true content_width, thumbnails, transition and dynamic_height will be disabled. As for dynamic height you need to set the width and height of images in the source. */
		custom_function:		null /* Define a custom function that runs on content change */
	});
});

</script>
    <script>
        var Filter = function (data) {
            var proto = {
                
                CurrentPage: 1,
                PageSize: 6,
                CountPage: 1,
                CountItems: 0
            }
            $.extend(proto, data);
            var self = this;
            
            this.CurrentPage = ko.observable(proto.CurrentPage);
            this.PageSize = ko.observable(proto.PageSize);
            this.CountPage = ko.observable(proto.CountPage);
            this.CountItems = ko.observable(proto.CountItems);
            
        }

        var Album = function (data) {
            var proto = {
                Id :0,
                CreateDate: new Date(),
                Name: '',
                Descrition: '',
                PhotoName: ''
            }
            $.extend(proto, data);
            var self = this;

            this.Id = ko.observable(proto.Id);
            this.CreateDate = ko.observable(proto.CreateDate);
            this.Name = ko.observable(proto.Name);
            this.Descrition = ko.observable(proto.Descrition);
            this.PhotoName = ko.observable(proto.PhotoName);

        }

        var model = {
            
            List: ko.observableArray([]),
            FilterTable: ko.observable(new Filter()),
            LoadData: function () {
                $("#album-loading").show();
                var params = ko.toJSON(model.FilterTable());
                $.ajax({
                    method: "POST",
                    datatype: "json",
                    processData: false,
                    contentType: "application/json; charset=utf-8",
                    data: params,
                    accept: 'application/json',
                    url: '@Url.Action("GetAlbumList", "gallery")',
                    success: function (data) {
                        model.List.removeAll();
                        for (var i in data.List) {
                            var item = new Album(data.List[i]);
                            model.List.push(item);
                        }
                        model.FilterTable().CountItems(data.CountItems);
                        model.FilterTable().CountPage(data.CountPage);
                        setTimeout(function () { $('.category_1').css("opacity", 1); }, 500);
                        $("#album-loading").hide();
                    }
                });
            },
            NextPage: function () {
                if (model.FilterTable().CurrentPage() < model.FilterTable().CountPage()) {
                    model.FilterTable().CurrentPage(model.FilterTable().CurrentPage() + 1);
                    model.LoadData();
                }
            },
            PrevPage: function () {
                if (model.FilterTable().CurrentPage() > 1) {
                    model.FilterTable().CurrentPage(model.FilterTable().CurrentPage() - 1);
                    model.LoadData();
                }
            }


        };
        $(function () {
            ko.applyBindings(model);
            model.LoadData();
        });
    </script>
}
