@model MegaKids.IServices.Models.WebPage.ViewModel
@using MegaKids.DataModel.Models
@{
    ViewBag.Title = Model.Seo.Title;
    ViewBag.Keywords = Model.Seo.Keywords;
    ViewBag.Description = Model.Seo.Description;
}

<!-- Блок кафе -->
<a class="cafe-link-block" href="@Url.Action("index","cafe")">
    <div class="container full-width-img">
        <div class="cafe-logo col-md-6 col-md-offset-3">
            <img src="~/Content/Images/cafe-name.png" />
        </div>
        <div class="cafe-text col-md-6 col-md-offset-3">
            <h2>@Resource.Cafe_Title</h2>
        </div>
    </div>
</a>


<!-- Конец блока кафе -->
<div class="white-delimiter"></div>
<!-- Слайдер -->
@Html.Action("SliderPartial", "Modules", new { sitePage = EnumSitePage.Index })
<!-- Конец слайдера -->
<div class="white-delimiter"></div>
<!-- Блок с описанием -->
<div class="container-home-description">
    <div class="container">
        @*<div class="monkey-left"></div>
        <div class="monkey-right"></div>*@
        <div class="home-description">
            @Html.Raw(Model.Seo.PageContent)
        </div>
    </div>
</div>
<!-- Конец блока с описанием -->
<!-- Блок с новостями -->
<div class="container full-width-img">
    <div class="home-last-news-head">
        @*<div class="left-hand"></div>*@
        <h2>
            @Resource.RecentNews
        </h2>
        @*<div class="right-hand"></div>*@
    </div>
    @Html.Action("PartialRecentNews", "home", new { count = 4 })
    <div class="clear"></div>
    <div class="watch-more-news col-md-6 col-md-offset-3">
        <a href="@Url.Action("index","news")" class="btn blue">@Resource.WatchAllNews</a>
    </div>
</div>
<!-- Конец блока с новостями -->
<div class="white-delimiter"></div>
<!-- Блок с видео -->
<div class="container">
    <div class="home-video">
        <div class="embed-responsive embed-responsive-16by9">
            @Html.Raw(Model.Seo.ExtraContent)
            @*<iframe width="725" height="408" src="https://www.youtube.com/embed/orxXlAltFQg?rel=0" frameborder="0" allowfullscreen></iframe>*@
        </div>
    </div>
</div>
<!-- Конец блок с видео -->
<div class="white-delimiter"></div>
@Html.Action("_mapContacts","About")
<div class="white-delimiter"></div>