@model MegaKids.IServices.Models.WebPage.ViewModel
@{
    ViewBag.Title = Model.Seo.Title;
    ViewBag.Keywords = Model.Seo.Keywords;
    ViewBag.Description = Model.Seo.Description;
}

<style type="text/css">
    a#btn-services {
        background-color: #57abe4;
    }
</style>

<div class="services-head">
    <div class="container">
        @Html.Raw(Model.Seo.PageContent)


    </div>
</div>
<div class="white-delimiter"></div>


<div class="container full-width-img">
    @foreach (var services in Model.ModelServices)
    {
        <div class="row services-content-item services-module">
            <div class="col-md-12">
                <div class="col-md-4">
                    <img src="~/Content/Images/services/@services.Photo" width="350" />
                </div>
                <div class="col-md-8">
                    <h3 class="item-title">@services.Title</h3>
                    <div class="item-text collapse" id="services-item-@services.Id" aria-expanded="false">
                        @Html.Raw(services.Content)

                    </div>
                </div>

                <div class="read-more">
                    <button data-target="#services-item-@services.Id" class="read-more-button btn blue collapsed" data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample">
                        @Resource.ReadMore
                    </button>
                </div>
            </div>
        </div>
    }
</div>

@Html.Partial("_mapContacts")
<div class="white-delimiter"></div>


