@model MegaKids.IServices.Models.WebPage.SeoLang
@{
    ViewBag.Title = "Настройка страницы \"О нас\"";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<style rel="stylesheet" type="text/css">
    
    #cke_1_top,#cke_2_top {
        background: #F8F8F8;
    }

    .cke_toolgroup {
        border: none;
        background: transparent;
    }

    .cke_button:hover {
        background: #E5E5E5;
    }
</style>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-globe"></i>
            <a href="@Url.Action("Index", "dashboard", new { Area = "Admin" })">Mega Kids</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a>О нас</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a>Страница</a>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT -->
<div class="row">
    <div class="col-md-12">

        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-wrench"></i>Настройка страницы "О нас"
                </div>
            </div>
            <div class="portlet-body">
                <ul class="nav nav-pills">
                    <li class="active">
                        <a href="#RU_tab" data-toggle="tab">
                            RU
                        </a>
                    </li>
                    <li>
                        <a href="#RO_tab" data-toggle="tab">
                            RO
                        </a>
                    </li>
                </ul>
                @using (Html.BeginForm("index", "about", new { Area = "Admin" }, FormMethod.Post))
                {
                    <div class="form-body form-horizontal">
                        <div class="tab-content">
                            <input type="hidden" name="Id" value="@Model.Id" />
                            <div class="tab-pane fade active in" id="RU_tab">
                                <div class="form-group form-md-line-input has-success">
                                    <label class="col-md-2 control-label" for="Ru_Title">Заголовок страницы</label>
                                    <div class="col-md-10">
                                        <textarea class="form-control" id="Ru_Title" name="Ru_Title" rows="2" placeholder="">@Model.Ru_Title</textarea>
                                        <div class="form-control-focus">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group form-md-line-input has-success">
                                    <label class="col-md-2 control-label" for="Ru_Keywords">SEO Keywords</label>
                                    <div class="col-md-10">
                                        <textarea class="form-control" id="Ru_Keywords" name="Ru_Keywords" rows="3" placeholder="">@Model.Ru_Keywords</textarea>
                                        <div class="form-control-focus">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group form-md-line-input has-success">
                                    <label class="col-md-2 control-label" for="Ru_Description">SEO Description</label>
                                    <div class="col-md-10">
                                        <textarea class="form-control" id="Ru_Description" name="Ru_Description" rows="3" placeholder="">@Model.Ru_Description</textarea>
                                        <div class="form-control-focus">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group form-md-line-input has-success">
                                    <label class="control-label col-md-2" for="Ru_PageContent">Контент</label>
                                    <div class="col-md-10">
                                        <textarea class="ckeditor form-control" id="Ru_PageContent" name="Ru_PageContent" rows="6">@Model.Ru_PageContent</textarea>
                                    </div>
                                </div>
                                <div class="form-group form-md-line-input has-success">
                                    <label class="control-label col-md-2" for="Ru_ExtraContent">Контакты</label>
                                    <div class="col-md-10">
                                        <textarea class="ckeditor form-control" id="Ru_ExtraContent" name="Ru_ExtraContent" rows="6">@Model.Ru_ExtraContent</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="RO_tab">
                                <div class="form-group form-md-line-input has-success">
                                    <label class="col-md-2 control-label" for="Ro_Title">Заголовок страницы</label>
                                    <div class="col-md-10">
                                        <textarea class="form-control" id="Ro_Title" name="Ro_Title" rows="2" placeholder="">@Model.Ro_Title</textarea>
                                        <div class="form-control-focus">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group form-md-line-input has-success">
                                    <label class="col-md-2 control-label" for="Ro_Keywords">SEO Keywords</label>
                                    <div class="col-md-10">
                                        <textarea class="form-control" id="Ro_Keywords" name="Ro_Keywords" rows="3" placeholder="">@Model.Ro_Keywords</textarea>
                                        <div class="form-control-focus">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group form-md-line-input has-success">
                                    <label class="col-md-2 control-label" for="Ro_Description">SEO Description</label>
                                    <div class="col-md-10">
                                        <textarea class="form-control" id="Ro_Description" name="Ro_Description" rows="3" placeholder="">@Model.Ro_Description</textarea>
                                        <div class="form-control-focus">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group form-md-line-input has-success">
                                    <label class="control-label col-md-2" for="Ro_PageContent">Контент</label>
                                    <div class="col-md-10">
                                        <textarea class="ckeditor form-control" id="Ro_PageContent" name="Ro_PageContent" rows="6">@Model.Ro_PageContent</textarea>
                                    </div>
                                </div>
                                <div class="form-group form-md-line-input has-success">
                                    <label class="control-label col-md-2" for="Ro_ExtraContent">Контакты</label>
                                    <div class="col-md-10">
                                        <textarea class="ckeditor form-control" id="Ro_ExtraContent" name="Ro_ExtraContent" rows="6">@Model.Ro_ExtraContent</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group form-md-line-input">
                                <div class="row">
                                    <div class="col-md-offset-2 col-md-10">
                                        <button type="submit" id="Save-Changes" style="margin-top: 15px;" class="btn blue">Сохранить</button>
                                        <img id="is-loading" style="display:none;margin: 15px 0 0 15px;" src="~/Content/Images/gif/loading.gif" width="35" />
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->



@section scripts{
<script type="text/javascript" src="~/Content/assets/global/plugins/ckeditor_full/ckeditor.js"></script>
    <script>
        $('#site-about').addClass("active open");
        $('#about-index').addClass("active");
        $('#Save-Changes').click(function() {
            $('#is-loading').show();
        });
    </script>
}




